.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
[class*="col-"] {
    float: left;
    padding: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .column-xs-1 {width: 8.33%;}
    .column-xs-2 {width: 16.66%;}
    .column-xs-3 {width: 25%;}
    .column-xs-4 {width: 33.33%;}
    .column-xs-5 {width: 41.66%;}
    .column-xs-6 {width: 50%;}
    .column-xs-7 {width: 58.33%;}
    .column-xs-8 {width: 66.66%;}
    .column-xs-9 {width: 75%;}
    .column-xs-10 {width: 83.33%;}
    .column-xs-11 {width: 91.66%;}
    .column-xs-12 {width: 100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .column-s-1 {width: 8.33%;}
    .column-s-2 {width: 16.66%;}
    .column-s-3 {width: 25%;}
    .column-s-4 {width: 33.33%;}
    .column-s-5 {width: 41.66%;}
    .column-s-6 {width: 50%;}
    .column-s-7 {width: 58.33%;}
    .column-s-8 {width: 66.66%;}
    .column-s-9 {width: 75%;}
    .column-s-10 {width: 83.33%;}
    .column-s-11 {width: 91.66%;}
    .column-s-12 {width: 100%;}
}